:root {
  --secondarycolor:  rgb(255, 0, 144);
  --padding: 30px;
  --textpadding: 5px;
  --mapmargin: 30px;
  --margin: 20px;
  --black: rgb(25, 27, 32);
}
#document {
  width: 100%;
}

#open {
  width: 14px;
  vertical-align: middle;
}
  
body {
  font-family: "verdana", sans-serif;
  background-color: white;
  font-size: .7em;
  color: rgb(0, 0, 0);
  background-repeat: repeat;
  text-align: justify;
  margin: 0;
  padding: 0;
}

* {
-ms-overflow-style: none;
  scrollbar-width: none;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

li {
  margin-top: 1em;
}

img {
  width: 100%;
  image-rendering: crisp-edges;
}

::selection {
  color: white;
  background-color: var(--secondarycolor);
}

i {
  color: var(--secondarycolor);
}

/*Headlines-----------------------------------------------------------------------------*/


.article .thumbnail {
  position: relative;
}

.article .thumbnail img {
  width: 100%;
  height: 100%;
}

.article .thumbnail .text {
  text-transform: lowercase;
  position: absolute;
  width: 100%;
  font-weight: bold;
  font-size: 7vw;
  bottom: 0;
  left: 0;
  color: white;
}

.article .thumbnail .text .tag {
  background-color: rgb(255, 255, 255);
  position: relative;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(0, 0, 0);
  z-index: 1;
  max-width: min-content;
  white-space: nowrap;
  padding: var(--textpadding);
}

.article .thumbnail .text .titledater {
  text-align: left;
  align-items: flex-end;
  padding-bottom: 2px;
  justify-content: space-between;
  display: flex;
  height: 100%;
}

.article  .thumbnail .text .titledater .titlebox {
  display: inline;
}


.article  .thumbnail .text .titledater .titlebox .titletext {
  display: inline;
  background-color: black;
  box-decoration-break: clone;
  padding: 0 var(--textpadding);
}

.article  .thumbnail .text .titledater .titlebox .titletext:hover {
  background-color: var(--secondarycolor);
  color: black;
}


.article .thumbnail .text .titledater .dater {
  text-align: right;
  font-size: 6pt;
  font-weight: lighter;
  padding-right: var(--textpadding);
  min-width: max-content;
}

.article .body {
  padding: var(--padding);
}


/*Log*/

/*Rabbit holes aka
Krisipedia ------------------------------------------------------------------------------*/
:root {
  --linecolor: rgb(218, 218, 218);
}

.krisipedia {
  background-color: white;
  margin: var(--margin);
  font-family: Arial, Helvetica, sans-serif;
}

.krisipedia i {
  color: black;
}

.krisipedia .logo {
  width: 150px;
}

.breaker {
  float: none;
  width: 100%;
  display: flow-root;
  margin-bottom: 10px;
}

.krisipedia .article {
  height: auto;
}

.krisipedia .heading {
  font-size: 1.3em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: auto;
  padding-bottom: 10px;
  line-height: 1.1em;
}

.krisipedia .heading::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--linecolor);
}

table {
  width: calc(100% / 3);

}

th, td, tr {
  vertical-align: top;
  text-align: left;
}

.L {
  margin-right: 15px;
  float: left;
}

.R {
  margin-left: 15px;
  float: right;
}

.tablewrapper {
  width: 100%;
}

.infobox {
  padding: 1px;
  background-color: rgb(246, 246, 246);
  outline: 1px solid var(--linecolor);
  margin-bottom: 5px;
}

.krisipedia p a {
  color: #36c;
  text-decoration: none;
  font-weight: normal;
}

.krisipedia p a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.krisipedia .heading a {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.krisipedia a::after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(icons/open.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.krisipedia .content_text {
  margin-bottom: 20px;
  line-height: 1.5;
}

.krisipedia em {
  font-weight: bold;
  font-style: italic;
}

.krisipedia .blockquote {
  color: rgb(187, 187, 187);
  font-style: italic;
  margin: 15px 0 15px 20px;
  padding-left: 10px;
  border-left: 1px solid  rgb(187, 187, 187);
  display: flow-root;
}

/**/
a {
  color: var(--secondarycolor);
  font-weight: bold;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
  text-underline-offset: 2px;
}

/* Street line page css */

.map_about {
  margin: 25px 25px 0 25px;
}

.streetline {
  position: relative;
  max-width: 80%;
  margin: auto;
  height: 100%;
}


.streetline::before {
  content: '';
  position: relative;
  border-style: solid;
  border-width: 1px 1px 1000px 1px;
  border-color: rgb(211, 211, 211);
  transform: translate(100%);
  left: -1px;
  top: 40px;
  z-index: 1;
}
    

.neighbor_container:nth-child(n+2):nth-child(-n+6) {
  margin-top: var(--mapmargin);
}

/* marker */

.streetline .neighbor_container .button::before {
  left: -1px;
  top: 25px;
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: rgb(211, 211, 211);
  z-index: -1;
}

.streetline .neighbor_container {
  padding: 10px;
  position: relative;
  width: auto;
  display: flex;
}

.streetline .neighbor_container_content {
  margin: 0 0 0 10px;
  background-color: rgb(255, 255, 255);
  position: relative;

}

.streetline img {
  object-fit: contain;
  width: 88px;
  image-rendering: crisp-edges;
  outline: 2px outset white;
}

.streetline img:hover {
  filter: brightness(1.1);
}

.streetline img:active {
  outline: 2px inset white;
  transform: scale(99%);
  filter: brightness(95%);
}

.streetline a:hover {
  filter: brightness(1);
}

/*ABOUT ME PAGE*/
.aboutme {
  color: rgb(0, 0, 0);
  height: 100vh;
  overflow: scroll;
}

.aboutme h1 {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

.aboutme .content {
  margin: var(--margin);
}