:root {
  --secondarycolor: rgb(93, 170, 92);
}
#document {
  width: 100%;
}
  
body {
  font-family: "verdana", sans-serif;
  background-color: white;
  font-size: .7em;
  color: rgb(0, 0, 0);
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.article {
  gap: 0px;
}

.article .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 8px;
}

.article .header .title {
  font-size: 1rem;
  font-weight: bold;
  align-content: baseline;
}

.article .header .tag {
  color:#898989;
  font-size: 0.7rem;
  text-align: right;
  align-self: baseline;
}


img {
  width: 100%;
}

name {
  font-weight: bold;
  text-decoration: underline;
  line-height: 0;
}

date {
  color: #898989
}
  
a {
  color: var(--secondarycolor);
  font-weight: bold;
  text-decoration: underline;
  vertical-align: middle;
  transition: 0.2s ease-in-out;
  text-underline-offset: 2px;
}

a:hover {
  filter: brightness(1.2)
}

.box {
  word-wrap: break-word;
  margin: 0px;
  vertical-align: middle;
  text-align: center;
}

.textbox {
  border: 0px solid white;
  padding: 5px;
  overflow: auto;
}

.textbox__imageL {
  max-width: calc(100% / 4); /* Maximum width is 1/3 of .everything */
  float: left;
  padding: 15px;
}

.textbox__text {
  padding: 0px;
  overflow: hidden;
}

.textbox__text img {
  width: 100%;
}

.article {
  margin: 10px;
}

.body {
  padding: 5px 0;
  text-align: justify;
}

h3 {
  margin: 5px 0;
}
