:root {
  --secondarycolor:  rgb(255, 0, 144);
  --padding: 30px;
  --textpadding: 5px;
  --mapmargin: 30px;
}
#document {
  width: 100%;
}
  
body {
  font-family: "verdana", sans-serif;
  background-color: white;
  font-size: .7em;
  color: rgb(0, 0, 0);
  background-repeat: repeat;
  text-align: justify;
  margin: 0;
  padding: 0;
}

* {
-ms-overflow-style: none;
  scrollbar-width: none;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

img {
  width: 100%;
}

name {
  font-weight: bold;
  text-decoration: underline;
}

date {
  color: #898989
}
  
a {
  color: var(--secondarycolor);
  font-weight: bold;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
  text-underline-offset: 2px;
}

a:hover {
  filter: brightness(1.2)
}

.box {
  word-wrap: break-word;
  margin: 0px;
  vertical-align: middle;
  text-align: center;
}

.textbox {
  border: 0px solid white;
  padding: var(--padding) var(--padding) 0 var(--padding);
  overflow: auto;
}

.textbox__imageL {
  max-width: calc(100% / 4); /* Maximum width is 1/4 of .everything */
  float: left;
  padding: 15px;
}

.textbox__text {
  overflow: hidden;
}

.textbox__text img {
  width: 100%;
}

/* new shyt */


.article .thumbnail {
  position: relative;
}

.article .thumbnail img {
  width: 100%;
  height: 100%;
}

.article .thumbnail .text {
  text-transform: lowercase;
  position: absolute;
  width: 100%;
  font-weight: bold;
  font-size: 7vw;
  bottom: 0;
  left: 0;
  color: white;
}

.article .thumbnail .text .tag {
  background-color: rgb(255, 255, 255);
  position: relative;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(0, 0, 0);
  z-index: 1;
  max-width: min-content;
  white-space: nowrap;
  padding: var(--textpadding);
}

.article .thumbnail .text .titledater {
  text-align: left;
  align-items: flex-end;
  padding-bottom: 2px;
  justify-content: space-between;
  display: flex;
  height: 100%;
}

.article  .thumbnail .text .titledater .titlebox {
  display: inline;
}


.article  .thumbnail .text .titledater .titlebox .titletext {
  display: inline;
  background-color: black;
  box-decoration-break: clone;
  padding: 0 var(--textpadding);
}

.article  .thumbnail .text .titledater .titlebox .titletext:hover {
  background-color: var(--secondarycolor);
  color: black;
}


.article .thumbnail .text .titledater .dater {
  text-align: right;
  font-size: 6pt;
  font-weight: lighter;
  padding-right: var(--textpadding);
  min-width: max-content;
}

.article .body {
  padding: var(--padding);
}


/* Street line page css */

.map_about {
  margin: 25px 25px 0 25px;
}

.streetline {
  position: relative;
  max-width: 80%;
  margin: auto;
  height: 100%;
}


.streetline::before {
  content: '';
  position: relative;
  border-style: solid;
  border-width: 1px 1px 1000px 1px;
  border-color: rgb(211, 211, 211);
  transform: translate(100%);
  left: -1px;
  top: 40px;
  z-index: 1;
}
    

.neighbor_container:nth-child(n+2):nth-child(-n+6) {
  margin-top: var(--mapmargin);
}

/* marker */

.streetline .neighbor_container .button::before {
  left: -1px;
  top: 25px;
  content: '';
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: rgb(211, 211, 211);
  z-index: -1;
}

.streetline .neighbor_container {
  padding: 10px;
  position: relative;
  width: auto;
  display: flex;
}

.streetline .neighbor_container_content {
  margin: 0 0 0 10px;
  background-color: rgb(255, 255, 255);
  position: relative;

}

.streetline img {
  object-fit: contain;
  width: 88px;
  image-rendering: crisp-edges;
  outline: 2px outset white;
}

.streetline img:hover {
  filter: brightness(1.1);
}

.streetline img:active {
  outline: 2px inset white;
  transform: scale(99%);
  filter: brightness(95%);
}

.streetline a:hover {
  filter: brightness(1);
}