/* ========== Root ========== */
:root {
  --gap: .1rem;
  --fontsize: 8pt;
  --vpwidth: 45vw;
  --vpheight: 90vh;
  --border: 2px rgb(207, 207, 207);
  --borderstyle: outset;
  --innerborderstyle: inset;
  --mainbackground: rgb(219, 219, 219);
  --background: solid black;
  --iframebuttonheight: 25px;
  --linkcolor: rgb(0, 66, 99);
  --secondarycolor: rgb(255, 0, 144);
  --contentbg: white;
  --black: rgb(25, 27, 32);
}


*{
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    -webkit-text-size-adjust: none;
}

*::-webkit-scrollbar { 
    display: none; 
}

/* ========== Global ========== */
body {
  color: black;
  font-size: var(--fontsize);
  font-family: "Verdana", sans-serif;
  background-image: url(backgrounds/scrapback.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


ul {
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

/* ========== Layout ========== */
.viewport {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  max-width: var(--vpwidth);
  height: var(--vpheight);
}

.banner {
  display: flex;
  object-fit: fill;
  width: 100%;
}

.banner_space {
  display: flex;
  flex-direction: column;
  background-color: var(--mainbackground);
}

.banner_space .banner {
  max-height: 100%;
  width: calc(100% - 3px);
  border: var(--border);
  border-style: var(--innerborderstyle);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--vpwidth);
  overflow: hidden;
  border: var(--border);
  border-style: var(--borderstyle);
  background-color: var(--mainbackground);
}

#bottom_banner {
  width: var(--vpwidth);
  border: var(--border);
  border-style: var(--borderstyle);
}

.everything {
  display: flex;
  flex-direction: row;
  width: var(--vpwidth);
  overflow: hidden;
  border: var(--border);
  border-style: var(--borderstyle);
  background-color: var(--mainbackground);
  flex-grow: 1;
}

.main {
  flex: 5;
  gap: var(--gap);
  margin: 0;
  min-height: 0;
  overflow: hidden;
  word-wrap: break-word;
}

.navbar {
  width: 100%;
  margin-left: 0;
  border: none;
}

/* ========== Aside L ========== */
.asideL {
  flex: 2;
  display: flex;
  flex-direction: column;
  max-width: calc(100% / 3);
  overflow-y: hidden;
}

.asideL_header {
  display: flex;
  margin: var(--gap);
  margin-bottom: 0;
  border: var(--border);
  border-style: var(--innerborderstyle);
  background-color: black;
}

.asideL_content {
  display: flex;
  flex-direction: column;
  flex: 90%;
  margin: var(--gap);
  background-color: var(--mainbackground);
}

.asideL_content .info {
  padding: 0.3rem;
  border: var(--border);
  border-style: var(--innerborderstyle);
  overflow-wrap: break-word;
  word-break: break-word;
  background-color: vaR(--contentbg);
}


.socbuttons {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background-color: var(--mainbackground);
  gap: 1px;
}

.socbutton {
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-weight: bold;
  overflow-wrap: break-word;
  padding: 3px;
  border: var(--border);
  border-style: var(--borderstyle);
}

.socbutton:hover {
  background-color: rgb(222, 222, 222);
  filter: brightness(1.1);
}

.socbutton:active {
  border-style: inset;
  filter: brightness(0.9);
}

.asideL_content .socbuttons img {
  width: 20px;
  padding-right: 3px;
  display: inline-block;
  vertical-align: middle;
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.3));
}

.main .iframebuttons {
  display: flex;
  flex-direction: row;
  max-height: var(--iframebuttonheight);
  gap: 3px;
  margin-bottom: 1px;
  overflow: scroll;
  white-space: nowrap;
}

.iframebuttons a {
  padding: 5px 5px 7px 5px;
  border-radius: 2px;
  background-image: url(linkbuttons/blank.gif);
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.iframebuttons a:active {
  filter: brightness(0.9);
  background-image: url(linkbuttons/blankactive.gif);
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.main_iframe {
  display: flex;
  width: 100%;
  height: calc(100% - var(--iframebuttonheight));
}

.asideL_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 3px 0 3px;
  font-size: 0.6vw;
  font-weight: bold;
  background-color: var(--mainbackground);
}

.star {
  color: var(--secondarycolor);
}
/* ========== Aside R ========== */
.asideR {
  flex: 2;
}

.neighbors {
  padding: 5px;
}

.neighborbuttons {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  row-gap: 3px;
}

/* ========== Footer ========== */
.footer {
  display: ruby;
  height: 45px;
  justify-content: center;
  gap: var(--gap);
  max-width: var(--vpwidth);
  margin-top: 3px;
  overflow-x: scroll;
}

.footer .button {
  width: fit-content;
  transition: 0.1s ease-in-out;
}

.footer .button:hover {
  transform: scale(95%);
}

/* ========== Chat ========== */
.chatbox {
  flex-grow: 1;
  border: var(--border);
  border-style: var(--innerborderstyle);
}

/* ========== Links ========== */
.everything a {
  color: var(--linkcolor);
  font-size: var(--fontsize);
  font-weight: bold;
  line-height: 9pt;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  transition: 0.2s ease-in-out;
  text-shadow: 0 0.5px 0 rgba(255, 255, 255, 0.6), 0 -0.5px 0 rgba(0, 0, 0, 0.3);
}

/* ========== Marquee ========== */
.marquee {
  position: relative;
  height: 20px;
  display: flex;
  width: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

.marquee__content {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  min-width: 100%;
  animation: scroll 80s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

/* Iframes */
#headlines {
  display: block;
  width: 100%;
  height: 100%;
  border: var(--border);
  border-style: var(--innerborderstyle);
}

#logo {
  position: fixed;
  width: 300px;
  transform: rotate(-20deg);
}

#flagcount {
  background-color: var(--mainbackground);
  height: 100%;
}

/* Statuscafe */

.statuscafe {
  background-color: var(--black);
	flex-grow: 1;
  display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
  border-right: var(--border);
  border-color: vaR(--black);
  border-right-style: var(--borderstyle);
}

#statuscafe {
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: .5em;
  color: white;
}

#statuscafe-username {
  color: rgb(255, 255, 255);
}

#statuscafe-username a::after {
  content: ' says...';
  color: rgb(255, 255, 255);
  font-weight: lighter;
}

#statuscafe-username a {
  font-weight: bold;
  color: var(--secondarycolor);
}

/* Media queries */

@media (prefers-color-scheme: dark) {
  body {
    background-image: url(backgrounds/compbg-blank.png);
    background-color: rgb(30, 21, 32);
    background-size: cover;
  }
}

/* tablet idk */
@media (width<=1024px) {
  :root {
    --vpwidth: 90vw;
  }

  #top_banner {
    display: none;
  }
}

/* phone */
@media (width<=500px) {
  :root {
    --vpwidth: 100vw;
    --vpheight: 90vh;
  }

  body {
    overflow: hidden;
  }

  .everything {
    display: block;
  }

   .everything a {
    font-size: var(--fontsize);
  }

  .statuscafe {
    padding: 10px 0;
  }

  .banner_space iframe {
    display: none;
  }

  .asideL {
    max-width: var(--vpwidth);
    max-height: calc(var(--vpheight) * .2);
    align-items: center;
  }

  .asideL_content {
    flex-direction: row;
    width: 99%;
  }

  .asideL_content #flagcount, .chatbox {
    display: none;
  }
  
  .asideL_content .info {
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .info .text {
    padding: 10px;
    width: 100%;
  }

  .asideL_content img {
    object-fit: cover;
    width: 50%;
  }
  
  .asideL_content .socbuttons {
    width: 40%;
  }

  .socbutton img {
    object-fit: contain;
    height: 100%;
  }

  .main_iframe {
  height: 72%;
  }

  .asideR, .asideL_footer {
    display: none;
  }

  .main {
    height: 80vh;
  }

  #bottom_banner {
    display: none;
  }
}