/* ===============================
Root & Global Styles
=============================== */
:root {
  --gap: 0rem;
  --background: linear-gradient(0deg, rgba(255, 148, 196, 1) 0%, rgba(189, 11, 62, 1) 50%, rgba(0, 0, 0, 1) 100%);
  --innerbackground:  rgb(71, 70, 71);
  --viewportbackground: rgb(176, 171, 177);
  --border: 1px solid gray;
  --innerborder: 2px inset;
  --textcolor: rgb(255, 255, 255);
}

/* ===============================
ok document heere test
=============================== */

body {
  font-size: .7em;
  color: var(--textcolor);
  font-family: "Verdana", sans-serif;
  background-image: var(--background);
  background-repeat: repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

.ad {
  display: block;
  width: 40vw;
  margin-bottom: 0px;
  border: var(--border);
  border-style: groove;
}

/* ===============================
   Layout Containers
=============================== */
.viewport {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--viewportbackground);
}

.everything {
  flex-grow: 1;
  display: flex;
  flex-direction: row; /* Horizontal arrangement */
  border: var(--border);
  border-style: groove;
  max-width: 40vw;
  min-height: 80vh;
}

.main {
  flex: 3;
  margin: var(--gap);
  margin-left: 0;
  word-wrap: break-word;
  border: var(--border);
  border-style: var(--innerborder);
}

/* ===============================
   Aside Section
=============================== */
.aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: calc(100% / 3);
  overflow-y: scroll;
}

.aside_header {
  display: flex;
  margin: var(--gap);
  margin-bottom: 0;
  border: var(--border);
  border-style: var(--innerborder);
  background-color: black;
}

.aside_content {
  display: flex;
  flex-direction: column;
  flex: 90%;
  margin: var(--gap);
  border: var(--border);
  border-style: inset;
  background-color: var(--innerbackground);
}

.aside_content .text {
  padding: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.aside_footer {
  padding: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #CCC;
}

/* Hide scrollbar in webkit browsers */
.body::-webkit-scrollbar {
  display: none;
}

/* ===============================
   Footer
=============================== */
.footer {
  display: flex;
  justify-content: center;
  gap: var(--gap);
  max-width: 40vw;
  padding: 0px;;
  color: var(--textcolor);
}

.footer .button {
  width: fit-content;
  transition: 0.2s ease-in-out;
}

.footer .button:hover {
  transform: scale(105%);
}

/* ===============================
   Chat Elements
=============================== */
.chatbox {
  flex-grow: 1;
  padding-top: 5px;
}
/* ===============================
   Links
=============================== */
.everything a {
  color: rgb(21, 186, 246);
  text-decoration: none;
  vertical-align: middle;
}

/* ===============================
   Marquee
=============================== */
.marquee {
  margin: 0;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

/* ===============================
   Home Iframe
=============================== */
#home {
  width: 100%;
  height: 100%;
  border: none;
}
